
@{
    ViewData["Title"] = "Index";
}

@model List<RoleViewModel>
<h1>Rol Listesi</h1>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]

    </div>
}


<table class="table">
    <thead>
        <tr>

            <th scope="col">ID</th>
            <th scope="col">Rol Adı</th>
			<th scope ="col">Güncelle</th>
            <th scope="col">Rolü sil</th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>

                <td>
                     <a
                        class=" btn btn-outline-success" asp-area="admin" asp-controller="Role" asp-action="RoleUpdate"
                 asp-route-id="@item.Id" 
                        > Güncelle
                    </a>
                     
                </td>

                <td>
                    <a class="btn btn-outline-danger" asp-area="admin" asp-controller="Role" asp-action="RoleDelete"
                       asp-route-id="@item.Id">
                      Rolü Sil
                    </a>

                </td>

            </tr>
        </tbody>

    }
</table>



<a class="btn btn-success mt-3" asp-area="admin" asp-controller="Role" asp-action="RoleCreate">Rol Ekle</a>


